<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This page uses the following services<br>
    <a href="https://github.com/" target="blank">github</a>
    <a href="https://aws.amazon.com/" target="blank">AWS S3</a>
    <a href="https://www.heroku.com" target="blank">Heroku</a>

    This is a test portfolio<br>
    <UL>
        <LI>
            <a href="{% url 'food:index' %}">food app</a>
        </LI>
        <LI>
            <a href="movies">REST API</a>
        </LI>
        <LI>
            <a href="{% url 'music_list' %}">Music list</a>
        </LI>
        <LI>
            <a href="{% url 'shop' %}">E-commer</a>
        </LI>
        <LI>
            <a href="{% url 'pdf_list' %}">CV generator</a>
        </LI>
        <LI>
            <a href="{% url 'crawler_top' %}">crawler</a>
        </LI>
        <LI>
            <a href="{% url 'tracker' %}">calorie tracker</a>
        </LI>
    </UL>


</body>
</html>