<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is a test portfolio<br>
    <UL>
        <LI>
            <a href="{% url 'food:index' %}">food app</a>
        </LI>
        <LI>
            <a href="movies">REST API</a>
        </LI>
        <LI>
            <a href="{% url 'music_list' %}">Music list</a>
        </LI>
        <LI>
            <a href="#">E-commer</a>
        </LI>
    </UL>



    <a href="{% url 'food:create_item' %}">link</a>

    <a href="{% url 'food:create_item' %}">link</a>

</body>
</html>