<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This page uses the following services<br>
    <a href="https://getbootstrap.com/" target="blank">bootstrap</a>
    <a href="https://github.com/" target="blank">github</a>
    <a href="https://aws.amazon.com/" target="blank">AWS S3</a>
    <a href="https://www.heroku.com" target="blank">Heroku</a>
    <a href="https://www.chartjs.org/" target="blank">Chart.js</a>

    <br><br>

    <h2></h2><b>This is a test portfolio</b></h2>
    
    <br><br>

    Portfolio<br>
    <ul>
        <li>
            <a href="{% url 'food:index' %}">food app</a>
        </li>
        <li>
            <a href="movies">REST API</a>
        </li>
        <li>
            <a href="{% url 'music_list' %}">Music list</a>
        </li>
        <li>
            <a href="{% url 'shop' %}">E-commer</a>
        </li>
        <li>
            <a href="{% url 'pdf_list' %}">CV generator</a>
        </li>
        <li>
            <a href="{% url 'crawler_top' %}">crawler</a>
        </li>
        <li>
            <a href="{% url 'tracker' %}">calorie tracker</a>
        </li>
        <li>
            <a href="{% url 'user:index' %}">User management</a>
        </li>
        <li>
            <a href="{% url 'social_top' %}">sns</a>
        </li>
    </ul>


</body>
</html>