{% extends 'ecom/base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <ul class="list-group" id="item_list">
                    <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                      Cras justo odio
                      <span class="badge badge-primary badge-pill">14</span>
                    </li> -->
                </ul>
                
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        for (item in cart) {
            let name = cart[item][0];
            let quantity = cart[item][1];

            itemString = `<li class="list-group-item">${name}-${quantity}</li>`
            $('#item_list').append(itemString);
        };
    };
</script>
{% endblock %}