{% extends 'ecom/base.html' %}

{% block body %}

<div class="container">

    <!-- Search Form -->
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm" action="" method="get">
                <div class="card-body row no-gytters align-items-center">
                    <div class="col">
                        <input type="search" name="item_name" placeholder="Search for products" class="form-control form-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- item  -->
    <div class="row">
        {% for product in product_objects %}
        <div class="col-md-3">

            <div class="card">
                <img src="{{ product.image }}" height="140" width="140" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">
                        {{ product.title }}
                    </div>
                    <div class="card-text">
                        $ {{ product.price }}
                    </div>
                    <a class="btn btn-warning" href="/ecom/{{ product.id }}">View</a>
                    <button id="{{ product.id }}" class="btn atc btn-warning" >Add to Cart</button>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_objects.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="?page={{ product_objects.number }}">{{ product_objects.number }}</a>
                </li>

                {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}


{% block javascript %}

<script type="text/javascript">
    console.log('This is working');

    if (localStorage.getItem('cart')==null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    };
    $(document).on('click', '.atc', function(){
        console.log('The add to cart button is clicked!');
        var item_id = this.id.toString();
        if (cart[item_id] != undefined) {
            cart[item_id] += 1;
        } else {
            cart[item_id] = 1;
        };
        console.log(cart[item_id]);
        localStorage.setItem('cart', JSON.stringify(cart));

        document.getElementById("cart").innerHTML = "Cart (" + Object.keys(cart).length + ")";
    });
</script>

{% endblock %}