{% extends 'ecom/base.html' %}
{% load static %}

{% block body %}

<div class="container">

    <!-- Search Form -->
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm" action="" method="get">
                <div class="card-body row no-gytters align-items-center">
                    <div class="col">
                        <input type="search" name="item_name" placeholder="Search for products" class="form-control form-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- item  -->
    <div class="row">
        {% for product in product_objects %}
        <div class="col-md-3">

            <div class="card">
                <img src="{{ product.image }}" height="140" width="140" class="card-img-top">
                <div class="card-body">
                    <div id="nm{{ product.id }}" class="card-title">{{ product.title }}</div>
                    <div id="price{{ product.id }}" class="card-text">
                        $ {{ product.price }}
                    </div>
                    <a class="btn btn-warning" href="/ecom/{{ product.id }}">View</a>
                    <button id="{{ product.id }}" class="btn atc btn-warning" >Add to Cart</button>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_objects.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="?page={{ product_objects.number }}">{{ product_objects.number }}</a>
                </li>

                {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}


{% block javascript %}

<script type="text/javascript">
    if (localStorage.getItem('cart')==null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    };

    $(document).on('click', '.atc', function() {
        var item_id = this.id.toString();
        // cart = {"id": [name, quantity, total_price]}
        var price_str = document.getElementById("price"+item_id).innerHTML;
        var price = price_str.replace(/[^0-9.]/g, '');
        if (cart[item_id] != undefined) {
            cart[item_id][1] += 1;
            cart[item_id][2] += parseFloat(price);
        } else {
            var title = document.getElementById("nm"+item_id).innerHTML;
            var quantity = 1;
            cart[item_id] = [title, quantity, parseFloat(price)];
        };
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById("cart").innerHTML = "Cart (" + Object.keys(cart).length + ")";
    });

    DisplayCart(cart);
    function DisplayCart(cart) {
        var cartString = "<h5>This is your cart</h5><br>";
        var cartIndex = 1;
        let cartObject = JSON.parse(localStorage.getItem('cart'));
        for (item in cartObject) {
            cartString += cartIndex + ": " + cartObject[item][0] + ", Qty: " + cartObject[item][1] + "<br>";
            cartIndex += 1;
        };
        cartString += "<a href='/checkout'> <button class='btn btn-warning' id='checkout'>Checkout</button></a>";
        document.getElementById("cart").setAttribute('data-bs-content', cartString); // todo: Not working
        $('[data-bs-toggle="popover"]').popover();
    };
</script>

{% endblock %}