{% extends 'pdf/base.html' %}

{% block body %}
<h2>This is a test for pdf top</h2>

<form>  
    <!-- name -->
    <div class="form-group">
      <label for="name_input">Name</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="John">
    </div>

    <!-- email -->
    <div class="form-group">
        <label for="email_input">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <!-- phone -->
    <div class="form-group">
        <label for="phone_input">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" aria-describedby="emailHelp" placeholder="Enter phone">
    </div>

    <!-- summary -->
    <div class="form-group">
        <label for="summary_input">About you</label>
        <textarea type="text" class="form-control" id="summary" name="summary" aria-describedby="emailHelp"></textarea>
    </div>

    <!-- degree -->
    <div class="form-group">
        <label for="degree_input">Degree</label>
        <input type="text" class="form-control" id="degree" name="degree" aria-describedby="emailHelp"">
    </div>
      
    
    <!-- school -->
    <div class="form-group">
        <label for="school_input">School</label>
        <input type="text" class="form-control" id="school" name="school" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  
    <!-- university  -->
    <div class="form-group">
        <label for="university_input">University</label>
        <input type="email" class="form-control" id="university" name="university" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <!-- previous_work -->
    <div class="form-group">
        <label for="previous_work_input">Previous work</label>
        <textarea type="text" class="form-control" id="previous_work" name="previous_work" aria-describedby="emailHelp""></textarea>
    </div>

    <!-- skills -->
    <div class="form-group">
        <label for="skills_input">Skills</label>
        <textarea type="text" class="form-control" id="skills" name="skills" aria-describedby="emailHelp"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}

{% block javascript %}
{% endblock %}
