{% extends 'pdf/base.html' %}

{% block body %}
<h2>CV Database Profile List</h2>

<div class="row">
    <div class="col-md-12">
        <a href="{% url 'pdf_input' %}" class="btn btn-success">Make New</a>
    </div>
</div>

{% for profile in profile_list %}
<div class="row">
    <div class="col-md-6">
        {{ profile.name }}
    </div>
    <div class="col-md-6">
        <a href="/pdf/{{ profile.id }}" class="btn btn-warning">Download CV</a>
    </div>
</div>
<hr>
{% endfor %}

{% endblock %}
