{% extends 'calorieTracker/base.html' %}

{% block body %}
<h2>Calorie Tracker</h2>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                <div class="form-group row">
                    {% csrf_token %}
                    <label class="col-md-2">
                        <b>Select Food To Add:</b>
                    </label>
                    <select class="col-md-6 form-control" name="food_consumed" id="food_consumed">
                        {% for food in foods %}
                            <option value="{{ food.name }}">{{ food.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-success" type="submit">Add</button>
                </div>
            </form>                
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div>
                <h4>Today's Consumption</h4>
            </div>

            <table id="table" class="table table-striped table-primary">
                <tr class="bg-primary text-white">
                    <th>Food item</th>
                    <th>Carbs (gm)</th>
                    <th>Protein (gm)</th>
                    <th>Fat (gm)</th>
                    <th>Calories (kcal)</th>
                </tr>
                {% for c in consumed_foods %}
                <tr>
                    <td>{{ c.food_consumed.name }}</td>
                    <td>{{c.food_consumed.carbs }}</td>
                    <td>{{ c.food_consumed.protein }}</td>
                    <td>{{ c.food_consumed.fats }} </td>
                    <td>{{ c.food_consumed.calories }}</td>
                </tr>
                {% endfor %}        

                <tr>
                    <td id="name"><b>Total</b></td>
                    <td id="totalCarbs"></td>
                    <td id="totalProteins"></td>
                    <td id="totalFats"></td>
                    <td id="totalCalories"></td>
                </tr>
            </table>
        </div>

        <div class="col-md-5">
        </div>
    </div>
</div>




{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var table = document.getElementById("table");
    var carbs = 0, proteins = 0, fats = 0, calories = 0;
    for (var i = 1; i < table.rows.length -1; i++) {
        carbs += parseFloat(table.rows[i].cells[1].innerHTML);
        proteins += parseFloat(table.rows[i].cells[2].innerHTML);
        fats += parseFloat(table.rows[i].cells[3].innerHTML);
        calories += parseFloat(table.rows[i].cells[4].innerHTML);
    }
    carbs = Math.round(carbs);
    proteins = Math.round(proteins);
    fats = Math.round(fats);

    document.getElementById("totalCarbs").innerHTML = carbs;
    document.getElementById("totalProteins").innerHTML = proteins;
    document.getElementById("totalFats").innerHTML = fats;
    document.getElementById("totalCalories").innerHTML = calories;

</script>
{% endblock %}